<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stabilność walut</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Wariancja</h1>
    <div style="width: 100%; height: 300px; margin: auto;">
        <canvas id="stabilityChart"></canvas>
    </div>


    <script>
        const stabilityData = {{ stability_data | tojson }};

        console.log(stabilityData);

        const ctx = document.getElementById('stabilityChart').getContext('2d');

        const stabilityChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: stabilityData.map(item => item[0]),
                datasets: [{
                    label: 'Wariancja (Stabilność)',
                    data: stabilityData.map(item => item[1]),
                    backgroundColor: 'rgba(54, 162, 235, 0.6)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    beginAtZero: true,
                    max: Math.max(...stabilityData.map(item => item[1])) * 1.1,
                    ticks: {
                        font: {
                            size: 10
                        }
                    }
                },
                y: {
                    ticks: {
                        font: {
                            size: 10
                        }
                    },
                    barPercentage: 0.6,
                    categoryPercentage: 0.8
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            return `Wariancja: ${context.raw.toFixed(2)}`;
                        }
                    }
                }
            }
        }
        });
    </script>
</body>
</html>
