<!DOCTYPE html>
<html>
<head>
    <title>Kantorek MERITO</title>
</head>
<body>
    <h1>Wartości wymiany walut</h1>

    {% if grouped_currencies %}
        {% for date, currencies in grouped_currencies.items() %}
            <h2>{{ date }}</h2>
            <table border="1">
                <tr>
                    <th>Nazwa</th>
                    <th>Kod</th>
                    <th>Wartość</th>
                </tr>
                {% for currency in currencies %}
                    <tr>
                        <td>{{ currency.currency_name }}</td>
                        <td>{{ currency.currency_code }}</td>
                        <td>{{ currency.exchange_rate }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    {% elif currencies %}
        <h2>Wartości dla {{ selected_date }}</h2>
        <table border="1">
            <tr>
                <th>Nazwa</th>
                <th>Kod</th>
                <th>Wartość</th>
            </tr>
            {% for currency in currencies %}
                <tr>
                    <td>{{ currency.currency_name }}</td>
                    <td>{{ currency.currency_code }}</td>
                    <td>{{ currency.exchange_rate }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Brak danych.</p>
    {% endif %}
</body>
</html>